<nav class="filter-wraper">
				<div class="container">
					<div class="filter-navigation">
						<a href="Menu.php?types=Burgers" class="filter_link">Burgers</a>
						<a href="Menu.php?types=Snacks" class="filter_link">Snacks</a>
						<a href="Menu.php?types=Garneers" class="filter_link">Garneers</a>
						<a href="Menu.php?types=Deserts" class="filter_link">Deserts</a>
						<a href="Menu.php?types=Drinks" class="filter_link">Drinks</a>
						<a href="Menu.php?types=Combo" class="filter_link">Combo</a>
						<a href="Menu.php?types=Addings" class="filter_link">Addings</a>
					</div>
				</div>
			</nav>


