<div class="adv-wrapper adv-wrapper--bg-1">
		<div class="container adv-content-centre">
			<div class="adv__title">Love MacDonald's More</div>
			<form action="" class="subscribe">
				<input type="text" class="subscribe__input" placeholder="Your email adress">
				<input type="submit" class="subscribe__button" value="Subscribe">
			</form>
		</div>
</div>
<script src="https://kit.fontawesome.com/090f762d61.js" crossorigin="anonymous"></script>	


