
		<div class={{class_name}}>
			<div class="adv__title">Love MacDonald's More</div>
			<form action="" class="subscribe">
				<input type="text" class="subscribe__input" placeholder="Your email adress">
				<input type="submit" class="subscribe__button" value="Subscribe">
			</form>
		</div>


