<nav class="nav-wrapper">
		<div class="container">
			<div class="logo">MacDonalds</div>
			<div class="navigation">
				<a href="../Menu.php"?types=Burgers" class="navigation_link">Menu</a>
				<a href={{ link_sales }} class="navigation_link">Sales</a>
				<a href="#" class="navigation_link">About Us</a>
			</div>
			<a href="../Cart.php">
				<div class="cart">
					<i class="fas fa-shopping-cart"></i>
					<div class="cart__number">{{cart_number}}</div>
				</div>	
			</a>
		</div>
	</nav>	


