<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MacDonalds mazafucka</title>
		<link rel="shortcut icon" href="Images/Icon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="CSS/Sales.css">
	</head>
	<body>
	{% include 'navigation.twig' %}
	<header class="header">
		<div class="container">
				{% include 'header.twig' with {
														'header_title':"Get all of this almoust for free",
														'header_description':"Our bestsellers",}%}	
		</div>
	</header>
	<div class="section">
		<div class="container">
			<h2 class="title">Good Choice!!</h2>
			<div class="subtitle">Take them as quickly as possible</div>
			{% for card in mycards %}
					{% include 'cards.twig' with {
														'card_title':card.card_title,
														'card_image':card.card_image,
														'card_price':card.card_price,}%}
			{% endfor %}
			<a href={{link_main}} class="button-outline">Return to the main menu</a>
		</div>
	</div>
	{% include 'footer.twig' %}
	</body>
</html>

