
			{% include 'cards.twig' with {
														'card_title':"Big Mac",
														'card_image':"Images/Big-Mac.jpg",
														'card_price':"$2.1",}%}	
			{% include 'cards.twig' with {
														'card_title':"Potato Free",
														'card_image':"Images/Potato-Free.jpg",
														'card_price':"$1.2",}%}	
			{% include 'cards.twig' with {
														'card_title':"Shamrock-shake",
														'card_image':"Images/shamrock-shake.jpg",
														'card_price':"$1.5",}%}	
			{% include 'cards.twig' with {
														'card_title':"Double Cheese Combo",
														'card_image':"Images/CheeseCombo.jpg",
														'card_price':"$5.5",}%}	
			{% include 'cards.twig' with {
														'card_title':"Crispy Slad",
														'card_image':"Images/Salad.jpg",
														'card_price':"$3.8",}%}	
			{% include 'cards.twig' with {
														'card_title':"Austrian Combo",
														'card_image':"Images/GreenMeals.jpg",
														'card_price':"$6.0",}%}	
			{% include 'cards.twig' with {
														'card_title':"Egg MacMaffin",
														'card_image':"Images/McMuffin.jpg",
														'card_price':"$1.5",}%}	
			{% include 'cards.twig' with {
														'card_title':"Deluxe Burger",
														'card_image':"Images/deluxe-burger.jpg",
														'card_price':"$2.9",}%}
		<a href={{link_main}} class="button-outline">{{button_name}}</a>

